In [1]:
import pandas as pd
matrix=pd.read_csv("MATRIX.csv")
matrix

,MATRIX:-,POLAND,CROATIA,DENMARK,SLOVENIA,FRANCE,BRAZIL,GERMANY,QATAR
0,POLAND,0,1,1,0,0,0,0,0
1,CROATIA,0,0,0,0,0,0,0,0
2,DENMARK,0,0,0,1,1,0,0,0
3,SLOVENIA,0,0,0,0,0,0,0,0
4,FRANCE,0,0,0,0,1,0,1,0
5,BRAZIL,0,0,0,0,0,0,0,0
6,GERMANY,1,0,0,0,0,0,0,1
7,QATAR,0,0,0,0,0,0,0,0

In [1]:
import numpy as np
#75 114 105 115 104 110 97
row = int(input("enter the no. of rows: "))
#row: to get the no. of rows in matrix
column = int(input("enter the no. of column: "))
#column to get the no. of column in matrix

mat=[]
#mat to store the data in matrix form
check=True
for i in range(row):
    mat.append(list(map(int,input("enter the element of row {}: ".format(i+1)).split(" "))))
    #in above we input the entire row at a time
    #conditon the element with spaces will be counted as a different element
    if len(mat[i])!=column:
        print("error")
        break
    #if no. of element is no equal to no. of column that was expected an error will be poped
#above loop is to input the data in matrix

itr = [] #var to store the eigrn vector in iteration
for i in range(row):
    itr.append([1])
#above loop is to create a unitry list i.e. all element are "1"
itr = np.matrix(itr)
#converting the unitry list to matrix
while True:
    count=0
    itr1 = mat*itr 
    mitr=itr1.max()#finding the greatest element of the matrix
    itr1=itr1/mitr #dividing the eigen vector with greatest element of the matrix
    for i in range(row):
        if round(itr1.item(i),4)==round(itr.item(i),4):
            #checking if the value are equal in precision of 4
            count+=1
    if count==row:
        break
        #exiting the loop when repeation is occured in eigen vector
    itr=itr1 
#loop till the repeation in eigen value is found 
#Mprint("Eigen Value: ",'\n',mitr)
#print("Eigen Vector: \n",itr1)

team={}
for i in range(len(itr1)):
    team["team"+str(i+1)]=itr1.item(i)
    itr1.item(i)

rank=dict(sorted(team.items(),key=lambda x:x[1],reverse=True))

j=1
for i in rank:
    print("rank {} =".format(j),i)
    j+=1

enter the no. of rows: 8
enter the no. of column: 8
enter the element of row 1: 0 1 1 0 0 0 0 0
enter the element of row 2: 0 0 0 0 0 0 0 0
enter the element of row 3: 0 0 0 1 1 0 0 0
enter the element of row 4: 0 0 0 0 0 0 0 0
enter the element of row 5: 0 0 0 0 1 0 1 0
enter the element of row 6: 0 0 0 0 0 0 0 0
enter the element of row 7: 1 0 0 0 0 0 0 1
enter the element of row 8: 0 0 0 0 0 0 0 0
rank 1 = team5
rank 2 = team3
rank 3 = team1
rank 4 = team7
rank 5 = team2
rank 6 = team4
rank 7 = team6
rank 8 = team8